
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>@ViewData["Title"] - Portfolio</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>


    <header id="header">

        <a href="#" class="logo">Dev <span>Boss</span></a>

        <div class="bx bx-menu" id="menu-icon"></div>

        <ul class="navlist">

            <a asp-controller="Home" asp-action="Index">Home</a>

            <a asp-controller="Home" asp-action="About">About</a>

            <a asp-controller="Home" asp-action="Contact">Contact</a>

            <a asp-controller="Home" asp-action="Portfolio">Portfolio</a>

            <a asp-controller="Home" asp-action="Services">Services</a>

            


        </ul>

        @* <div class="top-btnn">
            <a asp-controller="Account" asp-action="Login" class="h-btn">Dashboard</a>
        </div> *@
       @*  <div class="top-btnn">

            <a asp-controller="Home" asp-action="Contact" class="h-btn">Contact me</a>

        </div> *@

    </header>

    <div class="container">

        <main role="main" class="pb-3">

            @RenderBody()



        </main>

    </div>

    <footer class="border-top footer text-muted">

        <div class="container">

            &copy; 2024 - Precious - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>

<script>

    window.onscroll = function () { changeHeaderBackground() };

    const changeHeaderBackground = () => {

        if (document.documentElement.scrollTop > 50) {

            document.getElementById("header").className = "headerScroll";

        } else {

            document.getElementById("header").className = "";

        }

    }

</script>