
@{
    ViewData["Title"] = "About";
}


<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="/images/him.jpeg" alt="users">
            </div>
            <div class="about-col-2">
                <h2 class="sub-title">About Me<span class="color">.</span></h2>
                <p>
                    I am a versatile Embedded Systems and Software Engineer, adept in hardware design and passionate about creating innovative and user-friendly websites. Proficient in HTML, CSS, JavaScript, and various web development tools, I seamlessly integrate software solutions into dynamic web applications. Committed to delivering high-quality work with keen attention to detail, my portfolio reflects the successful fusion of embedded systems and web development expertise.
                </p>
                <ul>
                    <li class="tab-links active-link" onclick="openTab('skills')">Skills</li>
                    <li class="tab-links" onclick="openTab('education')">Education</li>
                    <li class="tab-links" onclick="openTab('experiences')">Experiences</li>
                </ul>

                <div class="tab-contents active-tab" id="skills">
                    <h3 class="bgcolor">Web Development</h3>
                    <p>HTML, CSS, JavaScript, and more.</p>
                    <p>Frontend Frameworks</p>
                    <p>Backend Frameworks</p>

                    <h3 class="bgcolor">Database Management</h3>
                    <p>MySQL, PostgreSQL</p>
                    <p>NoSQL, MongoDB</p>

                    <h3 class="bgcolor">Embedded Systems Design & Internet Of Things</h3>
                    <p>Shaping IoT Experiences with Innovative Solutions.</p>
                    <p>Crafting Innovative Embedded Devices.</p>

                    <h3 class="bgcolor">API, Web Services & Version Control</h3>
                    <p>Designing, building, and consuming APIs.</p>
                    <p>Git and platforms like GitHub</p>


                </div>

                <div class="tab-contents education" id="education">
                    <h3 class="bgcolor">2018 - 2023  </h3>
                    <p>B.ENG, Electrical /Electronics Engineering | University of Benin</p>

                    <h3 class="bgcolor">2010 - 2016</h3>
                    <p>Vera Grace Comprehensive College</p>

                    <h3 class="bgcolor">2005 - 2010</h3>
                    <p>Primary | KingsWay Group of School</p>

                </div>

                <div class="tab-contents experiences" id="experiences">

                    <h3 class="bgcolor">Decagon</h3>
                    <p>Fullstack developer</p>

                    <h3 class="bgcolor">Gentro</h3>
                    <p>Worked as an Embedded systems engineer</p>

                    <h3 class="bgcolor">Egbin Power Plant</h3>
                    <p>Technical Assistant</p>



                </div>
            </div>
        </div>
    </div>
</div>