@{
    ViewData["Title"] = "Portfolio";
}

<section class="portfolio" id="portfolio">
    <div class="center-text">
        <h2>My <span>Portfolio</span></h2>
    </div>

    <div class="Portfolio-content">
        <div class="row">
            <img src="~/images/3309172.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Website Application</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Garbage Disposal App Design</h4>
        </div>

        <div class="row">
            <img src="~/images/4307057.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Mobile App Design</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Fitness Tracker App Design</h4>
        </div>

        <div class="row">
            <img src="~/images/4215605.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Website Design</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Smart Home App Design</h4>
        </div>

        <div class="row">
            <img src="~/images/real-estate-app-interface-template_107173-12938.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Website Design</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Real Estate Demo App Design</h4>
        </div>

        <div class="row">
            <img src="~/images/taxi-app-interface-concept_23-2148496314.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Website Design</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Taxi App Interface Design</h4>
        </div>

        <div class="row">
            <img src="~/images/course-app-collection-template_23-2148651019.jpg">
            <div class="main-row">
                <div class="row-text">
                    <h5>Website Design</h5>
                </div>
                <div class="row-icon">
                    <i class="ri-github-fill"></i>
                </div>
            </div>
            <h4>Online Course Application</h4>
        </div>
    </div>
</section>