@{
    ViewData["Title"] = "Services";
}
<!-- Services -->
<section class="services" id="services">
    <div class="center-text">
        <h2>My <span>Services</span></h2>
    </div>

    <div class="services-content">
        <div class="box">
            <img src="~/images/s-1.svg">
            <h3>Web Development</h3>
            <p>
                Developing both frontend and backend components using HTML, CSS, JavaScript, and various web development frameworks.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="box">
            <img src="~/images/s-2.svg">
            <h3>UI/UX Enhancement</h3>
            <p>
                Integrating design aesthetics into web development to craft interfaces that are both visually engaging and intuitively user-friendly.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

        <div class="box">
            <img src="~/images/s-3.svg">
            <h3>Security Implementation</h3>
            <p>
                Implementing security best practices in both embedded systems and web applications to ensure data integrity and user safety.
            </p>
            <a href="#">
                Download now
                <i class="ri-arrow-right-line"></i>
            </a>
        </div>

    </div>
</section>