@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SQ20.Net_Wee7_8_Task.ViewModels.CreateEducationViewModel


<form method="post" asp-action="Create" enctype="multipart/form-data" class="editParent">
    <input type="hidden" value="Id" id="Id" />
    <div class="form-group editPage">
        <label asp-for="Degree">Degree</label>
        <input asp-for="Degree" class="form-control" placeholder="Degree">
        <span asp-validation-for="Degree" class="text-danger"></span>
    </div>
    <div class="form-group  editPage">
        <label asp-for="School">School</label>
        <input asp-for="School" class="form-control" placeholder="School">
        <span asp-validation-for="School" class="text-danger"></span>
    </div>
    <div class="form-group  editPage">
        <label asp-for="FieldOfStudy">FieldOfStudy</label>
        <input asp-for="FieldOfStudy" class="form-control" placeholder="FieldOfStudy">
        <span asp-validation-for="FieldOfStudy" class="text-danger"></span>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>